body{
	font-family: 'Lobster', cursive;
	color: white;
	font-size: 80px;
}

p{
	left: 200px;
    margin: 0 auto;
    width: 460px;
    margin-top: 300px;
}


.morning{
	background-image: url("morning.jpg");
	background-size: cover;
}

.afternoon{
	background-image: url("afternoon.jpg");

}


.evening{
	background-image: url("evening.jpg");

}

.night{
	background-image: url("night.jpg");


}
