body{
	font-family: 'Lobster', cursive;
	color: white;
    font-size: 70px;
}

p{
    left: 200px;
    margin: 0 auto;
    width: 476px;
    margin-top: 300px;

}


.morning{
	background-image: url("img/morning.jpg");
	background-size: cover;
}

.afternoon{
	background-image: url("img/afternoon.jpg");
	background-size: cover;
}


.evening{
	background-image: url("img/evening.jpg");
	background-size: cover;
}

.night{
	background-image: url("img/night.jpg");
	background-size: cover;

}
